.containers{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    width: 95%;
    background: rgba(5, 10, 30, 0.6) !important;
    color: white;
    border-radius: 10px;
    box-shadow: 
        0 0 10px rgba(0, 180, 255, 0.3), /* Внешнее свечение */
        inset 0 0 10px rgba(0, 150, 255, 0.2); /* Внутреннее свечение */
    border: 1px solid rgba(0, 200, 255, 0.3);
    padding: 20px 60px 20px 60px;
}
.containers:hover {
    border-color: rgba(0, 220, 255, 0.6);
    box-shadow: 
        0 0 20px rgba(0, 200, 255, 0.5),
        inset 0 0 15px rgba(0, 180, 255, 0.3);
    transition: all 0.3s ease;
}

.container-head{
    display: flex;
    align-items: center;
    text-align: start;
    flex-direction: row;
    width: 100%;
    gap: 20px;
    font-size: 20px;
    color: #a0e0ff;
    text-shadow: 0 0 12px rgba(0, 180, 255, 0.4);
    border-bottom: 1px solid rgba(0, 180, 255, 0.3);
}
@media (max-width: 1215px) {
    .container-head{
        flex-direction: column;
        align-items: start;
        gap: 5px;
    }
} 

.container-content{
    width: 100%;
    flex-direction: column;
    text-align: start;
}

@media (max-width: 823px) {
   .containers{
    font-size: 14px;
    padding: 10px 20px 10px 20px;
    width: 100%;
    margin-top: 70px;
   }
   .container-head{
    font-size: 14px;
    margin-top: -20px;
   }
   .logo-container-head{
    display: none;
   } 
}