.footer{
    background: rgba(5, 10, 30, 0.6) !important;
    box-shadow: 
        0 0 10px rgba(0, 180, 255, 0.3), /* Внешнее свечение */
        inset 0 0 10px rgba(0, 150, 255, 0.2); /* Внутреннее свечение */
    border: 1px solid rgba(0, 200, 255, 0.3);
    border-radius: 10px;
}

.footer:hover {
    border-color: rgba(0, 220, 255, 0.6);
    box-shadow: 
        0 0 20px rgba(0, 200, 255, 0.5),
        inset 0 0 15px rgba(0, 180, 255, 0.3);
    transition: all 0.3s ease;
}